DATABASE_URL=postgresql+asyncpg://postgres:password@localhost:5432/velocity
JWT_SECRET_KEY=your-secret-key-change-this
JWT_ALGORITHM=HS256
JWT_EXPIRATION_HOURS=24
IMAGEKIT_PUBLIC_KEY=public_QlIKoS1sV5lQ0tGqmweZXWeXMAA=
IMAGEKIT_PRIVATE_KEY=private_U63viHQTRBSj8+jITENE2luJbrw=
IMAGEKIT_URL_ENDPOINT=https://ik.imagekit.io/Velocity
FRONTEND_URL=http://localhost:5173

STRIPE_SECRET_KEY=replace_with_yours_bro
STRIPE_PUBLISHABLE_KEY=replace_with_yours

